<article>
  <div class="bar-container">
    <h1>Sobre mim</h1>
    <p>Perfil Pessoal - Tudo sobre mim</p>
    <div class="bar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="image-container">
    <img ngSrc="assets/images/portifolio2.png" fill alt="Imformações para o Portifolio">
  </div>
  <div class="about-content">
    <div class="about-text">
      <h1>Meu nome é Caio Henrique!</h1>
      <p>
        Meu o objetivo é crescer no mercado de trabalho de desenvolvimento , buscando sempre evoluir
        e agregar a empresa o que for necessário para me tornar o melhor profissional.
      </p>
    </div>
    <div class="about-info">
      <p><i class="fa-solid fa-calendar-days"></i> 20/04/2003</p>
      <p><i class="fa-solid fa-location-dot"></i> Umuarama-PR</p>
      <p><a target="_blank" href="https://www.alfaumuarama.edu.br/fau/"><i
            class="fa-sharp fa-solid fa-user-graduate"></i> Unialfa (2022 - 2025)</a></p>
      <p><i class="fa-solid fa-envelope"></i> caiogrechic50&#64;gmail.com</p>
      <p><a target="_blank" href="https://www.engendra.com.br/"><i class="fa-solid fa-briefcase"></i>
          Engendra</a></p>
      <p><i class="fa-solid fa-code"></i> Desenvolvedor</p>
    </div>
  </div>
</article>