<div class="container">
  <div class="grid">
    <h2>Bem Vindo!</h2>
    <h2 class="typing">Meu nome é Caio, e eu sou Desenvolvedor Web e de aplicações para Desktop e Mobile</h2>
    <p>Este site foi criado para apresentar meu portfólio, destacando meus projetos e habilidades como Desenvolvedor.
      Aqui você encontrará exemplos do meu trabalho, incluindo aplicações web, desktop e mobile, que demonstram minha
      experiência e dedicação na área de desenvolvimento de software.</p>
    <a href="assets/pdfs/curriculo.pdf" download="curriculo.pdf">Download CV</a>
  </div>
  <div>
    <img ngSrc="assets/images/portifolio.jpg" class="portfolio-image" width="400" height="400" priority
      alt="Portifolio">
  </div>
</div>